    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{user.firstName}} {{user.lastName}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="{{user.resume}}" target="_blank">Resume</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header style="background-image: url({{user.backgroundPic}})">
    <div class="header-content">
        <div class="header-content-inner">
            <img class="img-responsive" src='{{user.profilePic}}'/>
            <h1 id="homeHeading">{{user.firstName}} {{user.lastName}}</h1>
            <hr>
            <p>{{user.experience}}</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll"><i class="fa fa-angle-double-down fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
    </header>
    <section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="light">
                <p class="text-faded">Education: {{user.education}}</p>
                <p class="text-faded">{{user.about}}</p>
                <a href="#portfolio" class="page-scroll btn btn-default btn-xl sr-button"><i class="fa fa-angle-double-down fa-2x" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    </section>
    <section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <center>
            <h1>Portfolio</h1>
            <hr>
            </center>
            <div class="col-lg-4 col-sm-6">
                <a href="{{user.port1}}" class="portfolio-box" target="_blank">
                    <img src="{{user.port1Pic}}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                {{user.port1Name}}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="{{user.port2}}" class="portfolio-box" target="_blank">
                    <img src="{{user.port2Pic}}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                {{user.port2Name}}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="{{user.port3}}" class="portfolio-box" target="_blank">
                    <img src="{{user.port3Pic}}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                {{user.port3Name}}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="{{user.port4}}" class="portfolio-box" target="_blank">
                    <img src="{{user.port4Pic}}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                {{user.port4Name}}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="{{user.port5}}" class="portfolio-box" target="_blank">
                    <img src="{{user.port5Pic}}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                {{user.port5Name}}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="{{user.port6}}" class="portfolio-box" target="_blank">
                    <img src="{{user.port6Pic}}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                {{user.port6Name}}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with me? That's great! Give me a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>{{user.phone}}</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:{{user.email}}">{{user.email}}</a></p>
                </div>
            </div>
        </div>
    </section>
